@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 5px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: linear-gradient(45deg, #81026e, #762486, #4dbfc8);
  color: #fff;
  font-family: "Courier New", "Courier", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.days {
  width: 100%;
  font-size: 82px;
  font-weight: bold;
  letter-spacing: 4px;
}
.csschallenge {
  width: 100%;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-align: justify;
  text-align: center;
}
.number {
  width: 100%;
  display: flex;
  position: relative;
  font-size: 120px;
}
.onedoc {
  margin-left: 10px;
  width: 24px;
  height: 98px;
  border-radius: 5px;
  background-color: #fff;
  z-index: 4;
  position: relative;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
}
.onecheo {
  margin-left: -8px;
  position: absolute;
  height: 50px;
  width: 24px;
  background: #fcfcfc;
  transform: rotate(45deg);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1;
}
.zero1 {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0);
  border: 24px white solid;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  margin-left: -10px;
  z-index: 3;
}
.zero2 {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0);
  border: 24px white solid;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  margin-left: -10px;
  z-index: 2;
}
