@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
.frame {
  width: 400px;
  height: 400px;
  background-image: linear-gradient(#e0a460, #d79359);
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -200px;
  margin-left: -200px;
  overflow: hidden;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.content {
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.card {
  display: grid;
  grid-template-columns: 65% 35%;
  flex-grow: 1 0;
  background-color: #fff;
  width: 320px;
  height: 300px;
  align-items: center;
  text-align: center;
}

.profile {
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  display: inline;

  align-items: center;
  vertical-align: center;
}
.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stack button {
  font-size: 12px;
  width: 120px;
  height: 30px;
  border-radius: 50px;
  color: #786450;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #786450;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto 10px auto;
}
.stack button:hover {
  cursor: pointer;
  background-color: #786450;
  color: #fff;
}
.profile .name {
  font-size: 15px;
  color: #786450;
  font-weight: 600;
}
.profile .job {
  line-height: 15px;
  font-size: 11px;
  color: #786450;
  margin-bottom: 20px;
}
.photo img {
  border-radius: 50%;
  cursor: pointer;
}
.profile .photo:hover {
  cursor: pointer;
}
.profile .photo:hover .circle1 {
  transform: rotate(360deg);
}
.profile .photo:hover .circle2 {
  transform: rotate(-360deg);
}
.photo .circle1,
.photo .circle2 {
  align-items: center;
  position: absolute;
  left: 65px;
  top: 41px;
  width: 76px;
  height: 76px;
  border: 1px solid;
  border-color: #786450 transparent #786450 #786450;
  border-radius: 50%;
  overflow: hidden;
  transition: all 1.5s ease-in-out;
}
.photo .circle2 {
  left: 62px;
  top: 38px;
  width: 82px;
  height: 82px;
  border-color: #786450 #786450 #786450 transparent;
}

.box {
  font-family: "Helvetica Neue", Helvetica, Arial;
  color: #786450;
  background-color: #f5e8df;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.box span:first-child {
  font-weight: 600;
  font-size: 17px;
  margin: 2em 0 0 0;
}
.box span:last-child {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 11px;
}
.box:hover {
  background-color: #e1cfc2;
}
span {
  display: block;
}
.stats {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  align-items: justify;
  gap: 2px;
}
