@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#97d9e1, #d9afd9);
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 80px;
}
#check {
  display: none;
}
.on-off {
  cursor: pointer;
  height: 0px;
  width: 100%;
}
.line_zero,
.line_one,
.line_two {
  width: 80px;
  height: 8px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
}
.line_one {
  margin: 20px 0px;
}
#check:checked + .center .line_one {
  width: 0px;
  height: 0px;
  margin: 0px;
  transition: all 0.5s ease;
}
#check:checked + .center .line_zero {
  margin-bottom: -4px;
  transition: margin 1s ease;
  transform: rotate(45deg);
  transition: transform 0.5s ease;
  transition-delay: 0.5s;
}
#check:checked + .center .line_two {
  margin-top: -4px;
  transition: all 0.5s ease;
  transform: rotate(135deg);
  transition: transform 0.5s ease;
  transition-delay: 0.5s;
}
.line_one_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center .line_one {
  transition: all 0.5s ease;
  transition-delay: 0.5s;
}
.center .line_zero {
  transition: transform 0.5s ease;
}
.center .line_two {
  transition: transform 0.5s ease;
}
